<app-map></app-map>
<div class="mask">
</div>
<div class="page-title"></div>
<div class="login-box">
  <div class="login-con">
    <div class="login-desc"><span class="icon"></span>登录</div>
    <form>
      <div for="" class="label">
        <input type="text" placeholder="输入账号" [(ngModel)]="username" name="username">
        <div class="img-box">
          <div>
            <img src="assets/images/input-user-new.png" alt="">
          </div>
        </div>
      </div>
      <div for="" class="label">
        <input type="password" placeholder="输入密码" [(ngModel)]="password" name="password">
        <div class="img-box">
          <div>
            <img src="assets/images/input-password-new.png" alt="">
          </div>
        </div>
      </div>
      <div for="" class="label">
        <button type="submit" class="login" (click)="login()">登录</button>
      </div>
    </form>
  </div>
</div>
<app-loading></app-loading>