.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 450px;
  border-radius: 8px;
  margin: -225px 0 0 -200px;
  background: #0d0d0d;
  padding: 20px;
}
.login-con{
  height: 100%;
  border-radius: 8px;
  background: #191919;
  padding-top: 70px;
}
.column_title_box h3 {
  width: 100%;
  font-size: 24px;
  cursor: default;
}

.column_title_box h3:hover {
  color: #f9b620;
  background: none;
  box-shadow: none;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .5) url("../../../assets/images/login_box_bg.png") no-repeat center;
  background-size: contain;
  box-shadow: inset 0 0 1000px 30px #000;
}

.login-box form .label {
  position: relative;
  display: block;
  overflow: hidden;
  margin-top: 30px;
  width: 80%;
  margin: 30px auto 0;
}

.login-box form .label div.img-box {
  position: absolute;
  right: 25px;
  top: 50%;
  margin-top: -24px;
  vertical-align: top;
  height: 44px;
  line-height: 44px;
}

.login-box form input {
  width: 100%;
  height: 44px;
  padding: 0 20px;
  font-size: 16px;
  color: #000;
  caret-color: #525252;
  outline: none;
  border: none;
  border-radius: 50px;
  box-shadow: inset 0 5px 8px rgba(0, 0, 0, .4);
}

.login-box form input.login {
  color: #000;
  width: 100%;
  border-radius: 8px;
  background: #f9b620;
}
.login-box form button{
  width: 100%;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  border-radius: 50px;
  background: #ffcc00;
  border: none;
  outline: none;
  box-shadow: 0 2px 6px #d9ae00;
}
.login-desc{
  font-size: 20px;
  color: #e7e9eb;
  width: 80%;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
}
.login-desc .icon{
  width: 4px;
  height: 70%;
  background: #ffcc00;
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  margin-right: 10px;
}
.page-title{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background: url("../../../assets/images/login_page_title_bg.png") no-repeat center;
  background-size: contain;
}
