<div class="upload-container">
  <div class="back-container">
    <span class="back-con" (click)="back()"><i nz-icon type="rollback" theme="outline" class="back-icon"></i>返回</span>
  </div>
  <nz-divider nzDashed [nzText]="text">
    <ng-template #text><i nz-icon type="plus"></i> 上传{{type}}信息</ng-template>
  </nz-divider>
  <nz-upload
    nzType="drag"
    [nzMultiple]="true"
    [nzLimit]="2"
    nzAction="https://jsonplaceholder.typicode.com/posts/"
    (nzChange)="handleChange($event)">
    <p class="ant-upload-drag-icon">
      <i nz-icon type="inbox"></i>
    </p>
    <p class="ant-upload-text">单击或拖动文件到此区域进行上传</p>
    <p class="ant-upload-hint">支持单个或批量上传</p>
  </nz-upload>
</div>
