<div class="data-application-box">
  <div class="public-panel-title">
    <h3>数据应用</h3>
    <!--<h3 routerLink="/mac/forecast" routerLinkActive="active">宏观经济预测</h3>-->
  </div>
  <div class="right-panel">
    <div class="content">
      <div class="panel-menu-box">
        <div class="panel-menu nowrap">
          <ul>
            <li appAccessControl [accessData]="'search-enterprise'" routerLink="researchGuide" routerLinkActive="active">企业调研向导</li>
            <li appAccessControl [accessData]="'search-enterprise'" routerLink="contactLookup" routerLinkActive="active">联系人查找</li>
            <li appAccessControl [accessData]="'data-output'" routerLink="dataOutput" routerLinkActive="active">系统数据导出</li>
            <li appAccessControl [accessData]="'quality-recommend'" routerLink="qualityRecommend" routerLinkActive="active">优质企业推荐</li>
          </ul>
        </div>
      </div>
      <div class="panel-menu-right">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
