<!-- 固定投资 -->
<perfect-scrollbar>
  <div class="animated">
    <div class="chose-time flex">
      <div class="chose-time-left flex-cell">
        <div class="input-group year-month date fl" id="datetimepicker-maceco" data-date="" data-date-format="yyyy">
          <input class="form-control" size="16" type="text" [ngModel]="revenueTime" readonly>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="chose-time-right  flex-cell" style="display:none">
        <div class="input-group date fl" id="datetimepicker2" data-date="" data-date-format="yyyy">
          <input class="form-control" size="16" type="text" value="" readonly>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="flex">
      <div class="flex-cell">
        <div class="flex-item" echarts [options]="investOptions"></div>
      </div>
      <div class="flex-cell" style="display:none">
        <div class="flex-item" id="investment-change"></div>
      </div>
    </div>
    <div class="flex">
      <div class="flex-cell">
        <table class="table table-bordered text-c" id="table1">
          <tr>
            <th>产业</th>
            <th>金额</th>
            <th>同比增速</th>
          </tr>
          <tr [hidden]="investDataList.length<1" *ngFor="let item of investDataList">
            <td>{{item.industryType}}</td>
            <td>{{item.fixedInverstment}}亿元</td>
            <td>{{item.addSpeed}}%</td>
          </tr>
          <tr *ngIf="investDataList.length<1">
            <td colspan="3">暂无信息！</td>
          </tr>
        </table>
      </div>
      <div class="flex-cell" style="display:none">
        <table class="table table-bordered" id="table2">
          <tr>
            <td>类型</td>
            <td>金额</td>
            <td>增速</td>
          </tr>
          <tr>
            <td>房地产</td>
            <td>4300亿元</td>
            <td>17%</td>
          </tr>
          <tr>
            <td>互联网</td>
            <td>6500亿元</td>
            <td>16%</td>
          </tr>
          <tr>
            <td>工业</td>
            <td>8800亿元</td>
            <td>32%</td>
          </tr>
          <tr>
            <td>其他</td>
            <td>7840亿元</td>
            <td>35%</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</perfect-scrollbar>
