<div class="panel-content-box">
<div class="data-application-box">
  <div class="public-panel-title">
    <div class="back-box fl" routerLink="/dataApplication/contactLookup">
      <span class="back-btn"></span>
    </div>
    <h3>{{MessagePageTitle}}</h3>
  </div>
  <div class="right-panel">
    <div class="panel-content" *ngIf="!sendMessageStatus">
      <div class="selected-contact-box flex-column">
        <div class="contact-list-hd">
          <div class="column-company fl">已选企业(<span class="number">{{selectedList.length}}</span>)</div>
          <div class="column-contact fl">联系人</div>
        </div>
        <div class="contact-list-con flex-cell">
          <perfect-scrollbar>
          <div class="contact-list-item border" *ngFor="let item of selectedList;index as index">
            <div class="list-column column-company fl">
              <div class="list-column-con">
                <div class="name">{{item.company.name}}</div>
                <div class="industry" [innerHTML]="item.company.industryType"></div>
              </div>
            </div>
            <div class="list-column column-contact fl">
              <div class="contact-box">
                <div class="column-con" *ngFor="let contact of item.contacts">{{contact.name}}{{contact.duties ? '--' + contact.duties : ''}}({{contact.phone}})</div>
              </div>
            </div>
          </div>
          </perfect-scrollbar>
        </div>
      </div>
      <div class="message-info-box">
        <div class="contact-list-hd">编辑短信</div>
        <div class="message-info">
          <textarea class="border" placeholder="输入内容" [(ngModel)]="sendMessageContent"></textarea>
        </div>
        <div class="contact-list-ft text-c">
          <button appAccessControl [accessData]="'contact-detail'" [buttonAccess]="true" class="color-full-button" (click)="sendMessage()">发送</button>
        </div>
      </div>
    </div>
    <perfect-scrollbar *ngIf="sendMessageStatus">
    <div class="panel-content send-result">
      <div class="contact-list-hd">
        <div class="column-company fl">发送失败企业</div>
        <div class="column-result fl">发送结果</div>
        <div class="column-reason fl">原因</div>
      </div>
      <div class="contact-list-con" *ngIf="sendResultList.length>0">
        <div class="contact-list-item border" *ngFor="let item of sendResultList;index as index">
          <div class="list-column column-company fl">
            <div class="list-column-con">
              <div class="name">{{item.pojo.enterpriseName}}</div>
              <div class="industry">{{item.pojo.contactsName}}({{item.pojo.contactInfo}})</div>
            </div>
          </div>
          <div class="list-column column-result fl">
            <div class="list-column-con red">失败</div>
          </div>
          <div class="list-column column-reason fl">
            <div class="list-column-con">{{item.errMsg}}</div>
          </div>
        </div>
      </div>
      <div class="no-data-tips text-c" *ngIf="sendResultList.length<1">
        无发送失败信息！
      </div>
    </div>
    </perfect-scrollbar>
  </div>
</div>
</div>