<div class="right-panel company-list animated slideInRight">
  <div class="panel-hd">
    <div class="title">
      <div class="title-con">
        <div class="back-box fl" routerLink="/mic">
          <span class="back-btn"></span>
        </div>
        <h3 class="fl" id="titleName">
          {{keyWord}}
        </h3>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="panel-menu-box">
      <ul class="panel-menu" id="filterMenu">
        <perfect-scrollbar style="height: 100%">
          <li class="" (click)="enterpriseTypeClick()">全部</li>
          <!--<li *ngFor="let enterpriseType of industryTypeList" [ngClass]="{'active': enterpriseTypeActive[enterpriseType] || (selectType == enterpriseType && !enterpriseTypeActive[enterpriseType])}" (click)="enterpriseTypeClick(enterpriseType)">{{enterpriseType.length>6 ? enterpriseType.slice(0,6) + '...' : enterpriseType}}（{{enterpriseTypesNumber[enterpriseType]}}）</li>-->
          <li *ngFor="let industryType of industryTypeList" [ngClass]="{'active': selectType == industryType.industryType}" (click)="enterpriseTypeClick(industryType.industryType)">{{industryType.industryType.length>6 ? industryType.industryType.slice(0,6) + '...' : industryType.industryType}}（{{industryType.number}}）</li>
        </perfect-scrollbar>
      </ul>
    </div>
    <div class="panel-menu-right" id="panel-menu-right">
      <div class="panel-top">
        <perfect-scrollbar style="height: 100%">
          <div class="panel-bd pop-index-0 animated active">
            <div class="panel-content" id="companyList">
              <div class="company-item animated flipInX" *ngFor="let company of companys">
                <div class="company-logo">
                  <img src="assets/images/company_logo.png" alt="">
                </div>
                <div class="info"[routerLink]="['/mic/companyDetail/basic/company-profile']" [queryParams]="{name: company.company.rowKey}"> <!-- [routerLink]="['/mic/companyDetail', company?.rowKey]" -->
                  <div class="name" [innerHTML]="company.company?.hilightName ? company.company?.hilightName : company.company?.name"></div>
                  <span [innerHTML]="company.company?.industryType"></span>
                  <span class="num">{{company.company?.id}}</span>
                </div>
              </div>
            </div>
          </div>
        </perfect-scrollbar>
      </div>
      <div class="panel-bot">
        <app-pagination [pageParam]="pageParam" (page)="consolePage($event)"></app-pagination>
      </div>
    </div>
  </div>
</div>
