<div class="panel-content-box">
  <perfect-scrollbar>
    <div class="panel-content">
      <div class="panel-item-title">工商变更信息：</div>
      <div *ngIf="companyChangeList.length>0">
        <table class="table table-bordered text-c" id="businessChangeInfo">
          <tr>
            <th class="nowrap">变更事项</th>
            <th class="nowrap">变更前内容</th>
            <th class="nowrap">变更后内容</th>
            <th class="nowrap">变更日期</th>
          </tr>
          <tr *ngFor="let data of companyChangeList">
            <td>{{data.changeType}}</td>
            <td style="max-width: 200px;text-align: left">{{data.changeBeforeContent}}</td>
            <td style="max-width: 200px;text-align: left">{{data.changeAfterContent}}</td>
            <td class="nowrap">{{data.changeDate | date:'yyyy-MM--dd'}}</td>
          </tr>
        </table>
        <div class="load-more-info text-c" *ngIf="changeInfoParams.lastRowKey">
          <div class="load-more-con" (click)="getCompanyChangeInfo()"><span class="fa fa-2x fa-angle-double-down"></span>加载更多</div>
        </div>
      </div>
      <div class="no-data-tips no-data-tips-full" *ngIf="companyChangeList.length<1">
        <span class="tips-bg"></span>
        {{CompanyChangeInfoTips}}
      </div>
    </div>
  </perfect-scrollbar>
</div>