<!-- <div class="con-hd">
  <button appAccessControl [accessData]="'manager-create-roles'" class="btn add-btn" routerLink="/admin/roles/roleManage/-1">新增角色</button>
</div> -->
<div class="filter">
  <form class="form-inline">
    <div class="form-group">
      <label>角色名称:</label> <input type="text" class="form-control" name="ldapName" [(ngModel)]="rolesListParams.roleName" placeholder="角色名称">
    </div>
    <div class="form-group">
      <label>状态:</label>
      <select class="form-control" id="method" required [(ngModel)]="rolesListParams.status" name="method">
        <option *ngFor="let statu of rolesStatus" [value]="statu.value">{{statu.label}}</option>
      </select>
    </div>
    <div class="form-group">
      <button class="btn search-btn" (click)="search()">搜索</button>
      <button class="btn" (click)="resetSearch()">重置</button>
    </div>
    <button appAccessControl [accessData]="'manager-create-roles'" class="btn fr" routerLink="/admin/roles/roleManage/-1">新增角色</button>
  </form>
</div>
<table class="table table-bordered table-hover table-s table-overflow-x">
  <thead>
  <tr class="text-c">
    <th>ID</th>
    <th>角色名称</th>
    <th>创建时间</th>
    <th>修改时间</th>
    <th>状态</th>
    <th>备注</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr class="text-c ng-scope" *ngFor="let item of rolesList">
    <td class="nowrap">{{item.id | slice:0:6}}***</td>
    <td class="nowrap">{{item.name}}</td>
    <td class="nowrap">{{item.createDate | date:'yy-MM-dd HH:mm:ss'}}</td>
    <td class="nowrap">{{item.modifyDate | date:'yy-MM-dd HH:mm:ss'}}</td>
    <td class="nowrap"><span *ngIf="item.status == 'STATUS_NORMAL'" class="green">正常</span><span *ngIf="item.status == 'STATUS_DISABLE'" class="red">禁用</span></td>
    <td class="nowrap">{{item.comment}}</td>
    <td class="f-14">
      <div class="nowrap">
        <a appAccessControl [accessData]="'manager-edit-roles'" tooltip="编辑" routerLink="/admin/roles/roleManage/{{item.id}}"><i class="fa fa-pencil"></i></a>
        <a appAccessControl [accessData]="'manager-disable-roles'" tooltip="禁用" *ngIf="item.status == 'STATUS_NORMAL'" href="javascript:void(0)" (click)="disableRole(item.id, false,template)"><i class="fa fa-ban"></i></a>
        <a appAccessControl [accessData]="'manager-disable-roles'" tooltip="启用" *ngIf="item.status == 'STATUS_DISABLE'" href="javascript:void(0)" (click)="disableRole(item.id, true,template)"><i class="fa fa-check-square"></i></a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-xs-12 col-12">
    <pager [totalItems]="pageParams.bigTotalItems"
           [(ngModel)]="pageParams.bigCurrentPage"
           (pageChanged)="pageChanged($event)"
           pageBtnClass="pager-btn"
           [itemsPerPage]="pageParams.itemsPerPage"
           class="pull-left" previousText="上一页" nextText="下一页">
    </pager>
  </div>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <p>{{modalMessage}}</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >确认</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >取消</button>
  </div>
</ng-template>
<ng2-toasty [position]="'center-center'"></ng2-toasty>
