<!-- 拟规上企业推荐 -->
<div class="panel-content-box">
<perfect-scrollbar>
  <div class="panel-content">
  <div class="panel-item-title">拟规上企业推荐：</div>
  <div class="flex" *ngIf="Recommend.length>0">
    <div class="flex-cell" *ngFor="let item of Recommend">
      <div class="flex-item" style="width: 100%;">
        <div class="flex-head" (click)="viewCompanyData(item.name)">
          <span class="name-icon">{{(item.name | slice:0:2) == '成都' || (item.name | slice:0:2) == '四川' ? (item.name | slice:2:4) : (item.name | slice:0:2)}}</span>{{item.name}}
        </div>
        <ul>
          <li class="title">公司名称</li>
          <li>{{item.name}}</li>
          <li class="title">公司地址</li>
          <li>{{item.address}}</li>
          <!-- <li class="title">成立日期</li>
          <li>{{item.establishDate | date: 'yyyy-MM-dd'}}</li>
          <li class="title">注册资本</li>
          <li>{{item.registeredCapital}}</li> -->
        </ul>
      </div>
    </div>
    <!-- <div class="flex-cell" style="padding-left:12px;">
      <div class="flex-item" style="width: 100%;">
        <div class="flex-head">成都万山科技有限责任公司</div>
        <ul>
          <li class="title">公司名称</li>
          <li>成都万山科技有限责任公司</li>
          <li class="title">公司地址</li>
          <li>移动互联大厦</li>
          <li class="title">年产值</li>
          <li>4000万</li>
          <li class="title">推荐时间</li>
          <li>2017/11/21</li>
        </ul>
      </div>
    </div> -->
  </div>
  <div class="no-data-tips no-data-tips-full" *ngIf="Recommend.length<1">
    <span class="tips-bg"></span>
    {{RecommendTipsMsg}}
  </div>
</div>
</perfect-scrollbar>
</div>