<!-- <div class="con-hd">
  <button appAccessControl [accessData]="'manager-create-function'" class="btn add-btn" routerLink="/admin/roles/functionManage/-1">新增功能</button>
</div> -->
<div class="filter">
  <form class="form-inline">
    <div class="form-group">
      <label>权限名称:</label> <input type="text" class="form-control" name="comment" [(ngModel)]="competenceListParams.comment" placeholder="权限名称">
    </div>
    <div class="form-group">
      <label>权限method:</label>
      <select class="form-control" name="methods" [(ngModel)]="competenceListParams.methods">
        <option value="">全部</option>
        <option *ngFor="let item of competenceMethods" [value]="item">{{item}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>权限状态:</label>
      <select class="form-control" id="method" required [(ngModel)]="competenceListParams.status" name="method">
        <option *ngFor="let statu of competenceStatus" [value]="statu.value">{{statu.label}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>权限串:</label> <input type="text" class="form-control" name="resource" [(ngModel)]="competenceListParams.resource" placeholder="权限串">
    </div>
    <div class="form-group">
      <button class="btn search-btn" (click)="search()">搜索</button>
      <button class="btn" (click)="resetSearch()">重置</button>
    </div>
    <button appAccessControl [accessData]="'manager-create-function'" class="btn fr" routerLink="/admin/roles/functionManage/-1">新增功能</button>
  </form>
</div>
<table class="table table-bordered table-hover table-s table-overflow-x text-c">
  <thead>
  <tr class="nowrap">
    <th>编号</th>
    <th>权限名称</th>
    <th>methods</th>
    <th>权限串</th>
    <th>状态</th>
    <th>创建时间</th>
    <th>修改时间</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr class="" *ngFor="let item of methodsList">
    <td class="nowrap">{{item.id | slice:0:6}}***</td>
    <td class="table-label text-left">{{item.comment}}</td>
    <td class="nowrap">{{item.methods}}</td>
    <td class="table-label text-left">{{item.resource}}</td>
    <td class="nowrap"><span *ngIf="item.status == 'STATUS_NORMAL'" class="green">正常</span><span *ngIf="item.status == 'STATUS_DISABLE'" class="red">禁用</span></td>
    <td class="">{{item.createDate | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
    <td class="">{{item.modifyDate | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
    <td class="f-14">
      <div class="nowrap">
        <a appAccessControl [accessData]="'manager-edit-function'" tooltip="编辑" routerLink="/admin/roles/functionManage/{{item.id}}"><i class="fa fa-pencil"></i></a>
        <a appAccessControl [accessData]="'manager-disable-function'" tooltip="禁用" *ngIf="item.status == 'STATUS_NORMAL'" href="javascript:void(0)" (click)="disableMethod(item.id, false,template)"><i class="fa fa-ban"></i></a>
        <a appAccessControl [accessData]="'manager-disable-function'" tooltip="启用" *ngIf="item.status == 'STATUS_DISABLE'" href="javascript:void(0)" (click)="disableMethod(item.id, true,template)"><i class="fa fa-check-square"></i></a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-xs-12 col-12">
    <pager [totalItems]="pageParams.bigTotalItems"
           [(ngModel)]="pageParams.bigCurrentPage"
           (pageChanged)="pageChanged($event)"
           pageBtnClass="pager-btn"
           [itemsPerPage]="pageParams.itemsPerPage"
           class="pull-left" previousText="上一页" nextText="下一页">
    </pager>
  </div>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <p>{{modalMessage}}</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >确认</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >取消</button>
  </div>
</ng-template>
<ng2-toasty [position]="'center-center'"></ng2-toasty>
