.focus-business-item{
    width: 50%;
    float: left;
    padding: 10px;
    cursor: pointer;
    outline: none;
}
.column-item{
    position: relative;
    overflow: hidden;
    padding: 5px;
    border: 1px solid #303030;
    border-radius: 6px;
}
.column-item:before{
    content: "";
    position: absolute;
    height: 100%;
    border-right: 1px solid #303030;
    left: 80px;
    top: 0;
}
.column-item .logo-icon{
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50px;
    float: left;
    background: #5079d9;
    color: #fff;
    text-align: center;
    font-size: 24px;
}
.column-item .info-data{
    margin-left: 85px;
    white-space: nowrap;
    color: #7c7e80;
    margin-top: 10px;
}
.column-item .info-data .name{
    font-size: 16px;
    color: #bcbdbf;
    margin-bottom: 5px;
}
.column-item .info-data .name,.column-item .info-data .other{
    overflow: hidden;
    text-overflow: ellipsis;
}