<div class="panel-content-box">
  <perfect-scrollbar>
    <div class="focus-business-con">
      <div *ngIf="focusBusinessList.length>0">
        <div class="focus-business-item" *ngFor="let item of focusBusinessList" (click)="viewCompanyData(item.name)">
          <div class="column-item">
            <div class="logo-icon">{{(item.name | slice:0:2) == '成都' || (item.name | slice:0:2) == '四川' ? (item.name | slice:2:4) : (item.name | slice:0:2)}}</div>
            <div class="info-data">
              <div class="name">{{item.name}}</div>
              <div class="other">
                <span>{{item.industryType ? item.industryType : '未知'}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="no-data-tips no-data-tips-full" *ngIf="focusBusinessList.length<1">
        <span class="tips-bg"></span>
        {{focusBusinessListTips}}
      </div>
    </div>
  </perfect-scrollbar>
</div>