<perfect-scrollbar>
  <div class="focus-business-con">
    <ul>
      <li routerLink="/mic/companyDetail/basic"><div class="item name fl">公司名称</div><div class="item industry-type fl">企业类型</div></li>
      <li routerLink="/mic/companyDetail/basic"><div class="item name fl">公司名称</div><div class="item industry-type fl">企业类型</div></li>
      <li routerLink="/mic/companyDetail/basic"><div class="item name fl">公司名称</div><div class="item industry-type fl">企业类型</div></li>
    </ul>
  </div>
</perfect-scrollbar>