<div class="panel-content m-b-20">
  <div class="flex">
    <div class="flex-cell">
      <div class="flex-item" echarts [options]="OrganizationEchartData" id="main4"></div>
    </div>
    <div class="flex-cell">
      <div class="flex-item" echarts [options]="OrganizationPeopleEchartData"></div>
    </div>
    <div class="flex-cell">
      <div class="flex-item" echarts [options]="ExpenditureEchartData" id="main2"></div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-cell">
      <div class="flex-item" echarts [options]="IntellectualPropertyEchartData"></div>
    </div>
  </div>
</div>