<!-- 公共性预算 -->
<perfect-scrollbar>
  <div class="animated">
    <div class="chose-time flex">
      <div class="chose-time-left flex-cell">
        <div class="input-group date fl" id="datetimepicker-maceco" data-date="" data-date-format="yyyy">
          <input class="form-control" size="16" type="text" [ngModel]="revenueTime" readonly>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="chose-time-right  flex-cell" style="display:none">
        <div class="input-group date fl" id="datetimepicker2" data-date="" data-date-format="yyyy">
          <input class="form-control" size="16" type="text" value="" readonly>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="flex">
      <div class="flex-cell">
        <div class="flex-item" echarts [options]="budgetOptions"></div>
      </div>
      <div class="flex-cell">
        <div class="flex-item" echarts [options]="budgetAreaSpeedOptions"></div>
      </div>
    </div>
    <div class="flex">
      <div class="flex-cell">
        <table class="table table-bordered text-c" id="table1">
          <tr>
            <th>季度</th>
            <th>金额</th>
            <th>同比增速</th>
          </tr>
          <tr [hidden]="budgetDataList.length<1" *ngFor="let item of budgetDataList">
            <td>{{item.quarterInfo}}</td>
            <td>{{item.budget ? item.budget + '千万' : ''}}</td>
            <td>{{item.addSpeed ? item.addSpeed + '%' : ''}}</td>
          </tr>
          <tr *ngIf="budgetDataList.length>0">
            <td>总计</td>
            <td>{{yearTotalOutput ? (yearTotalOutput).toFixed(2) + '千万' : ''}}</td>
            <td>{{yearTotalAddspeed ? (yearTotalAddspeed / budgetDataList.length).toFixed(2) + '%' : ''}}</td>
          </tr>
          <tr *ngIf="budgetDataList.length<1">
            <td colspan="3">暂无信息！</td>
          </tr>
        </table>
      </div>
      <div class="flex-cell">
        <table class="table table-bordered text-c" id="table2">
          <tr>
            <th>类型</th>
            <th>金额</th>
          </tr>
          <tr *ngFor="let item of budgetAreaAddSpeedList">
            <td>{{item.areaRange}}</td>
            <td>{{item.addSpeed}}%</td>
          </tr>
          <tr *ngIf="budgetAreaAddSpeedList.length<1">
            <td colspan="2">暂无信息！</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</perfect-scrollbar>
