<!-- 支柱产业 -->
<perfect-scrollbar>
  <div class="animated">
    <div class="chose-time flex">
      <div class="chose-time-left flex-cell">
        <div class="input-group date fl" id="datetimepicker-maceco" data-date="" data-date-format="yyyy">
          <input class="form-control" size="16" type="text" [ngModel]="revenueTime" readonly>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <div class="quarter-select fl" style="display:none">
          <select id="pillar-jidu1">
            <option value="0">所有季度</option>
            <option value="1">第一季度</option>
            <option value="2">第二季度</option>
            <option value="3">第三季度</option>
            <option value="4">第四季度</option>
          </select>
        </div>
      </div>
      <div class="chose-time-right  flex-cell" style="display:none">
        <div class="input-group date fl" id="datetimepicker2" data-date="2017" data-date-format="yyyy">
          <input class="form-control" size="16" type="text" value="2017" readonly>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <div class="quarter-select fl">
          <select id="pillar-jidu2">
            <option value="0">所有季度</option>
            <option value="1">第一季度</option>
            <option value="2">第二季度</option>
            <option value="3">第三季度</option>
            <option value="4">第四季度</option>
          </select>
        </div>
      </div>
    </div>
    <div class="flex">
      <div class="flex-cell">
        <div class="flex-item" echarts [options]="pillarOutputOptions"></div>
      </div>
      <div class="flex-cell">
        <div class="flex-item" echarts [options]="pillarOutputSpeedOptions"></div>
      </div>
    </div>
    <div class="flex">
      <div class="flex-cell">
        <table class="table table-bordered text-c" id="pillar-info">
          <tr>
            <th>季度</th>
            <th>产值</th>
          </tr>
          <tr *ngFor="let item of pillarOutputList" [hidden]="pillarOutputList.length<1">
            <td>{{item[0]}}</td>
            <td>{{item[1] ? item[1] + '亿元' : ''}}</td>
          </tr>
          <tr *ngIf="pillarOutputList.length>0">
            <td>总计</td>
            <td>{{yearTotalOutput ? (yearTotalOutput / pillarOutputList.length).toFixed(2) + '亿元' : ''}}</td>
          </tr>
          <tr *ngIf="pillarOutputList.length<1">
            <td colspan="2">暂无信息！</td>
          </tr>
        </table>
      </div>
      <div class="flex-cell">
        <table class="table table-bordered text-c" id="pillar-change-info">
          <tr>
            <th>产业</th>
            <th>产值</th>
            <th>增速</th>
          </tr>
          <tr *ngFor="let item of pillarOutputSpeedList" [hidden]="pillarOutputSpeedList.length<1">
            <td>{{item[1]}}</td>
            <td>{{item[2] ? item[2] + '亿元' : ''}}</td>
            <td>{{item[0] ? item[0] + '%' : ''}}</td>
          </tr>
          <tr *ngIf="pillarOutputSpeedList.length>0">
            <td>总计</td>
            <td>{{allTypeTotalOutput ? allTypeTotalOutput.toFixed(2) + '亿元' : ''}}</td>
            <td>{{allSpeedOutput ? (allSpeedOutput / pillarOutputSpeedList.length).toFixed(2) + '%' : ''}}</td>
          </tr>
          <tr *ngIf="pillarOutputSpeedList.length<1">
            <td colspan="3">暂无信息！</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</perfect-scrollbar>
