<div class="con-hd">
  <!-- <button class="excel-import" routerLink="../UploadTorchExcel">EXCEL导入</button> -->
  <button appAccessControl [accessData]="'manager-import-torch'" class="excel-import" [routerLink]="['../UploadFile']" [queryParams]="{url:'/manager/v1/eIIApAssets/importExcel'}" >EXCEL导入</button>
  <button appAccessControl [accessData]="'manager-export-torch'" class="excel-import">
    <a target="_blank" href="/manager/v1/eIIApAssets/exportExcelForm?enterpriseName={{getListParams.enterpriseName}}&dataSupplyTime={{getListParams.dataSupplyTime}}" download="火炬图.xlsx">导出</a>
  </button>
  <button appAccessControl [accessData]="'manager-download-torch'" class="excel-import">
    <a class="excel-import" target="_blank" href="{{formExcelTemplateData}}" download="火炬图模板.xlsx">EXCEL模板下载</a>
  </button>
  

  <!-- <button class="excel-export">EXCEL模板下载</button> -->
</div>
<div class="filter">
  <form class="form-inline">
    <div class="form-group">
      <label>企业名称:</label>
      <input type="text" class="form-control" name="ldapName" [(ngModel)]="getListParams.enterpriseName" placeholder="企业名称">
    </div>
    <div class="form-group">
      <label>年度:</label>
      <input type="text" class="form-control" name="dataSupplyTime" [(ngModel)]="getListParams.dataSupplyTime" placeholder="年度">
    </div>
    <div class="filter-bt">
      <button class="btn search-btn" (click)="search()">搜索</button>
      <button class="btn search-btn" (click)="resetSearch()">重置</button>
    </div>
  </form>
</div>
<table class="table table-bordered table-hover table-s table-overflow-x">
  <thead>
  <tr class="text-c">
    <th class="nowrap">企业名称</th>
    <th class="nowrap">统一社会信用代码</th>
    <th class="nowrap">行业代码</th>
    <th class="nowrap">注册时间</th>
    <th class="nowrap">注册资金</th>
    <th class="nowrap">注册类型</th>
    <th class="nowrap">通讯地址</th>
    <th class="nowrap">是否高企</th>
    <th class="nowrap">数据年份</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of list">
    <td class="nowrap">{{item.enterpriseName}}</td>
    <td class="text-c nowrap">{{item.creditCodeLe}}</td>
    <td>{{item.industryCode}}</td>
    <td class="text-c nowrap">{{item.registrationTime | date:'yyyy-MM-dd'}}</td>
    <td class="text-c nowrap">{{item.registeredCapital}}</td>
    <td>{{item.enterpriseType}}</td>
    <td>{{item.mailingAddress}}</td>
    <td class="text-c nowrap">{{item.whetherAuthentication == 1 ? '是' : '否'}}</td>
    <td class="text-c nowrap">{{item.year}}</td>
  </tr>
  </tbody>
</table>
<div class="row rowkey-pagination">
  <div class="col-xs-12 col-12">
    <nav aria-label="Page navigation">
      <ul class="pager">
        <li [ngClass]="{'disabled' : nowPagesNum < 1}"><a href="javascript:void(0)" (click)="pageChanged(-1)">上一页</a></li>
        <li [ngClass]="{'disabled' : !getListParams.lastRowKey}"><a href="javascript:void(0)" (click)="pageChanged(1)">下一页</a></li>
      </ul>
    </nav>
  </div>
</div>