.choose-download-data{
    max-width: 260px;
}
.choose-download-data label{
    margin: 0 5px;
    width: 70px;
}
/*new page style*/
.data-output-box{
    /*padding: 30px 0 20px;*/
    overflow:hidden
}
.data-output-box .table-label{
    font-size: 16px;
    color: #e7e9eb;
}
.data-output-box .choose-types-table .circle-radio-list{
    font-size: 16px;
    color: #bcbdbf;
}
.data-output-box .choose-types-table .types-input{
    height: 44px;
    background: none;
    color: #7c7e80;
    border-color: #303030;
}
.data-output-box .choose-types-table tr{
    height: 90px;
}
.data-output-box .circle-radio-list label {
    font-weight: normal;
}
.circle-radio-list label span{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 10px;
}
.circle-radio-list label span:after{
    width: 12px;
    height: 12px;
    border-radius: 30px;
    left: 8px;
    top: 8px;
}
.data-output-box .choose-types-table{
    max-width: 600px;
    margin: 15% auto 40px;
}
.data-output-box table td{
    vertical-align: middle;
}
.data-output-box .data-output-hd{
    color: #7d85cb;
    font-size: 14px;
    margin-bottom: 15px;
}
.data-output-hd .left{
    width: 50px;
}
.data-output-hd .right{
    text-indent: 20px;
}
.border{
    border: 1px solid #303030;
    border-radius: 6px;
}
.all-select-column{
    width: 50px;
    height: 100%;
    text-align: center;
    padding: 10px 0;
}
.select-con{
    position: relative;
    width: 26px;
    height: 26px;
    border: 1px solid #5e5e5e;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
.active .select-con:after,.select-con.active:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../../../../assets/images/checkbox_arrow.png") no-repeat center;
    background-size: 70%;
}
.data-output-bd .select-box{
    padding: 0 10px;
    border-right: 1px solid #303030;
}
.row-right{
    float: left;
    border-left: 1px solid #303030;
    width: calc(100% - 50px);
}
.output-item{
    width: 50%;
    height: 50px;
    line-height: 50px;
    float: left;
    border-left: 1px solid #303030;
    border-bottom: 1px solid #303030;
    margin-bottom: -1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.output-item:nth-child(2n){
    border-left: none;
}
.row-box{
    overflow: hidden;
    font-size: 16px;
    margin-bottom: 20px;
}
.row-box .select-label{
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.row-box .row-title{
    padding: 0 20px;
    border-bottom: 1px solid #303030;
    height: 46px;
    line-height: 46px;
}
.row-box .row-title.active{
    border-bottom: none;
}
.data-output-ft{
    margin-top: 10px;
    font-size: 14px;
}
.data-output-ft .select-con{
    margin: 0 10px;
}
.data-output-ft .download-btn{
    border: none;
    background: #f9b620;
    border-radius: 4px;
    color: #33363f;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
    outline: none;
}
.data-output-ft .download-btn:focus{
    background: #f9b620cc;
}
.table-label{
    width: 80px;
    padding: 20px 8px;
}
.data-output-ft .back-btn{
    cursor: pointer;
    color: #f9b620;
    vertical-align: middle;
    margin-left: 20px;
}
.data-output-ft .back-btn i{
    margin-right: 5px;
}
.data-output-ft .left-column{
    display: inline-block;
    margin-top: 18px;
}
.reset-selected{
    color: #f9b620;
    cursor: pointer;
    font-weight: bold;
}
.reset-selected i{
    margin-right: 5px;
}
.panel-content{
    margin: 0;
}
.panel-content.choose-download-box{
    padding: 10px;
}