<!-- 事件消息推送首页 -->
<div class="right-panel">
  <div class="panel-hd">
    <div class="title">
      <div class="title-con">
        <div class="back-box fl">
          <span class="back-btn" routerLink="/mic"></span>
        </div>
        <h3 class="fl">关注企业事件推送</h3>
      </div>
    </div>
  </div>
  <div class="content event-notice-con">
    <div class="panel-menu-box">
      <ul class="panel-menu">
        <!--<li routerLink="/mic/eventNotice/track" routerLinkActive="active"><div class="menu-item">重点企业追踪</div></li>-->
        <!--<li>
          <div class="menu-item"routerLink="/mic/eventNotice/track" routerLinkActive="active"><div class="menu-text">重点企业追踪</div><span class="fa fa-caret-down info-arrow"></span></div>
          <div class="sub-menu" *ngIf="showEventNoticeMenus.track">
            <div routerLink="/mic/eventNotice/track/messagePush" routerLinkActive="active"><em></em>消息推送</div>
            <div routerLink="/mic/eventNotice/track/businessTrain" routerLinkActive="active"><em></em>企业培育</div>
          </div>
        </li>-->
        <li appAccessControl [accessData]="'track-messagePush'"><div class="menu-item" routerLink="/mic/eventNotice/track" routerLinkActive="active">重点企业追踪</div></li>
        <li appAccessControl [accessData]="'early-warning'"><div class="menu-item" routerLink="/mic/eventNotice/earlyWarning" routerLinkActive="active">企业信用事件预警</div></li>
        <li appAccessControl [accessData]="'recommend'"><div class="menu-item" routerLink="/mic/eventNotice/recommend" routerLinkActive="active">拟规上企业推荐</div></li>
        <li appAccessControl [accessData]="'focus-business'"><div class="menu-item" routerLink="/mic/eventNotice/focusBusiness" routerLinkActive="active">关注企业列表</div></li>
        <li appAccessControl [accessData]="'personal-preference'"><div class="menu-item" routerLink="/mic/eventNotice/personalPreference" routerLinkActive="active">个人偏好设置</div></li>
        <!--<li routerLink="/mic/eventNotice/breedTrack" routerLinkActive="active">重点企业培育跟踪</li>-->
      </ul>
    </div>
    <div class="panel-menu-right scrollbar">
      <div class="panel-bd pop-ndex-0 active">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
