<div class="panel-content-box">
  <perfect-scrollbar>
    <div class="panel-content" id="divs">
      <div id="chufa">
        <div class="panel-item-title">行政处罚信息：</div>
        <perfect-scrollbar style="max-height: 366px" *ngIf="eCIAdministrativePenaltyPojos.length>0">
          <table class="table table-bordered" *ngFor="let item of eCIAdministrativePenaltyPojos">
            <tr>
              <td class="nowrap">违法行为类型:</td>
              <td colspan="3" name="illegalTypes">{{item.illegalType}}</td>
            </tr>
            <tr>
              <td class="nowrap">行政处罚内容:</td>
              <td colspan="3" name="content">{{item.punishContent}}</td>
            </tr>
            <tr>
              <td class="nowrap">决定书文号:</td>
              <td name="documentNumber">{{item.bookNumber}}</td>
              <td class="nowrap">决定机关名称:</td>
              <td name="office">{{item.departmentName}}</td>
            </tr>
            <tr>
              <td class="nowrap">处罚决定日期:</td>
              <td class="nowrap" name="date">{{item.punishDate | date: 'yyyy-MM-dd'}}</td>
              <td class="nowrap">公示日期:</td>
              <td class="nowrap" name="ddate">{{item.publicityDate | date: 'yyyy-MM-dd'}}</td>
            </tr>
            <tr>
              <td class="nowrap">数据提供单位:</td>
              <td name="dataProvider">{{item.dateSource}}</td>
              <td class="nowrap">数据提供日期:</td>
              <td class="nowrap">{{item.dataProvisionTime | date: 'yyyy-MM-dd'}}</td>
            </tr>
            <tr>
              <td class="nowrap">案件类型:</td>
              <td name="dataProvider">{{item.caseType}}</td>
              <td class="nowrap">执行类别:</td>
              <td class="nowrap">{{item.executionCategory}}</td>
            </tr>
            <tr>
              <td class="nowrap">案件结果:</td>
              <td name="dataProvider">{{item.caseResults}}</td>
              <td class="nowrap">处罚种类:</td>
              <td class="nowrap">{{item.punishmentType}}</td>
            </tr>
          </table>
          <div class="load-more-info text-c" *ngIf="AdministrativePenaltyParams.lastRowKey">
            <div class="load-more-con" (click)="findAdministrativePenaltyPage()"><span class="fa fa-2x fa-angle-double-down"></span>加载更多</div>
          </div>
        </perfect-scrollbar>

        <div class="no-data-tips" *ngIf="eCIAdministrativePenaltyPojos.length<1">
          {{AdministrativePenaltyTips}}
        </div>
      </div>
      <div>
        <div class="panel-item-title">司法执行信息：</div>
        <perfect-scrollbar style="max-height: 366px" *ngIf="eCIJudicialExecutionPojos.length>0">
          <table class="table table-bordered">
            <tr>
              <th>案号</th>
              <th>案由</th>
              <th>立案时间</th>
              <th>案件类型</th>
              <th>当事人</th>
              <th>诉讼请求</th>
              <th>结案日期</th>
              <th>结案方式</th>
              <th>结案案由</th>
              <th>判决情况</th>
              <th>是否执行</th>
              <th>法院</th>
              <th>数据提供单位</th>
              <th>数据提供日期</th>
            </tr>
            <tr *ngFor="let item of eCIJudicialExecutionPojos">
              <td>{{item.caseCode}}</td>
              <td>{{item.caseReason}}</td>
              <td>{{item.filingTime | date: 'yyyy-MM-dd'}}</td>
              <td>{{item.caseType}}</td>
              <td>{{item.litigant}}</td>
              <td>{{item.claims}}</td>
              <td>{{item.closingDate | date: 'yyyy-MM-dd'}}</td>
              <td>{{item.closeType}}</td>
              <td>{{item.caseClosedBy}}</td>
              <td>{{item.judgment}}</td>
              <td>{{item.whetherImplemented ? '已执行' : '未执行'}}</td>
              <td>{{item.court}}</td>
              <td>{{item.dataSource}}</td>
              <td>{{item.dataProvisionTime | date: 'yyyy-MM-dd'}}</td>
            </tr>
          </table>
          <div class="load-more-info text-c" *ngIf="JudicialExecutionParams.lastRowKey">
            <div class="load-more-con" (click)="findJudicialExecutionPage()"><span class="fa fa-2x fa-angle-double-down"></span>加载更多</div>
          </div>
        </perfect-scrollbar>
        <div class="no-data-tips" *ngIf="eCIJudicialExecutionPojos.length<1">
          {{JudicialExecutionTips}}
        </div>
      </div>
      <div>
        <div class="panel-item-title">司法判决信息：</div>
        <perfect-scrollbar style="max-height: 366px" *ngIf="eCIJudicialDecisionPojos.length>0">
          <table class="table table-bordered">
            <tr>
              <th>案号</th>
              <th>案由</th>
              <th>立案时间</th>
              <th>案件类型</th>
              <th>当事人</th>
              <th>诉讼请求</th>
              <th>结案日期</th>
              <th>结案方式</th>
              <th>结案案由</th>
              <th>判决情况</th>
              <th>是否执行</th>
              <th>法院</th>
              <th>数据提供单位</th>
              <th>数据提供日期</th>
            </tr>
            <tr *ngFor="let item of eCIJudicialDecisionPojos">
              <td>{{item.caseCode}}</td>
              <td>{{item.caseReason}}</td>
              <td>{{item.filingTime | date: 'yyyy-MM-dd'}}</td>
              <td>{{item.caseType}}</td>
              <td>{{item.litigant}}</td>
              <td>{{item.claims}}</td>
              <td>{{item.closingDate | date: 'yyyy-MM-dd'}}</td>
              <td>{{item.closeType}}</td>
              <td>{{item.caseClosedBy}}</td>
              <td>{{item.judgment}}</td>
              <td>{{item.whetherImplemented ? '已执行' : '未执行'}}</td>
              <td>{{item.court}}</td>
              <td>{{item.dataSource}}</td>
              <td>{{item.dataProvisionTime | date: 'yyyy-MM-dd'}}</td>
            </tr>
          </table>
          <div class="load-more-info text-c" *ngIf="JudicialDecisionParams.lastRowKey">
            <div class="load-more-con" (click)="findJudicialDecisionPage()"><span class="fa fa-2x fa-angle-double-down"></span>加载更多</div>
          </div>
        </perfect-scrollbar>
        <div class="no-data-tips" *ngIf="eCIJudicialDecisionPojos.length<1">
          {{JudicialDecisionTips}}
        </div>
      </div>
      <div>
        <div class="panel-item-title">行政监督检查信息：</div>
        <perfect-scrollbar style="max-height: 366px" *ngIf="EIIApAssets.length>0">
          <table class="table table-bordered">
            <tr>
              <th>抽查计划名称</th>
              <th>检查实施机关</th>
              <th>抽查机关</th>
              <th>类型</th>
              <th>检查事项</th>
              <th>检查结果</th>
            </tr>
            <tr *ngFor="let item of EIIApAssets">
              <td>{{item.checkprogram}}</td>
              <td>{{item.inspectionauthority}}</td>
              <td>{{item.selectiveauthority}}</td>
              <td>{{item.type}}</td>
              <td>{{item.checktheitems}}</td>
              <td>{{item.checkresult}}</td>
            </tr>
          </table>
          <div class="load-more-info text-c" *ngIf="EIIApAssetsParams.lastRowKey">
            <div class="load-more-con" (click)="findEIIApAssets()"><span class="fa fa-2x fa-angle-double-down"></span>加载更多</div>
          </div>
        </perfect-scrollbar>
        <div class="no-data-tips" *ngIf="EIIApAssets.length<1">
          {{EIIApAssetsTips}}
        </div>
      </div>
      <div>
        <div class="panel-item-title">失信被执行人：</div>
        <perfect-scrollbar style="max-height: 366px" *ngIf="DebtorInfos.length>0">
          <table class="table table-bordered" id="judicialDecisionEntities">
            <tr>
              <th>案号</th>
              <th>失信被执行人名称</th>
              <th>企业法人名称</th>
              <th>执行法院</th>
              <th>地域名称</th>
              <th>执行依据文号</th>
              <th>作出依据执行的单位</th>
              <th>法律生效文书确定的义务</th>
              <th>被执行人履行情况</th>
              <th>发布时间</th>
              <th>立案时间</th>
              <!-- <th>履行状态</th>
                <th>执行金额</th>
                <th>数据来源</th>
                <th>最新更新日期</th> -->
            </tr>
            <tr *ngFor="let item of DebtorInfos">
              <td>{{item.caseNo}}</td>
              <td>{{item.executorName}}</td>
              <td>{{item.legalRepresentative}}</td>
              <td>{{item.executionCourt}}</td>
              <td>{{item.region}}</td>
              <td>{{item.executionBasis}}</td>
              <td>{{item.unitOfExecution}}</td>
              <td>{{item.content}}</td>
              <td>{{item.fulfillment}}</td>
              <td>{{item.releaseTime | date: 'yyyy-MM-dd'}}</td>
              <td>{{item.filingTime | date: 'yyyy-MM-dd'}}</td>
              <!-- <td>{{item.status}}</td>
                <td>{{item.executionMoney}}</td>
                <td>{{item.dataSource}}</td>
                <td>{{item.newestDate | date: 'yyyy-MM-dd'}}</td> -->
            </tr>
          </table>
          <div class="load-more-info text-c" *ngIf="DebtorInfoParams.lastRowKey">
            <div class="load-more-con" (click)="findDebtorInfoPage()"><span class="fa fa-2x fa-angle-double-down"></span>加载更多</div>
          </div>
        </perfect-scrollbar>
        <div class="no-data-tips" *ngIf="DebtorInfos.length<1">
          {{DebtorInfoTips}}
        </div>
      </div>
      <!--<div id="panjue">
        <div class="panel-item-title">被执行人：</div>
        <div id="judicialDecisionEntitiesDiv"></div>
        <perfect-scrollbar style="max-height: 366px" (psYReachEnd)="psYReachEnd('findDebtorPage')">
          <table class="table table-bordered" id="judicialDecisionEntities">
            <tr>
              <th>案号</th>
              <th>被执行人名称</th>
              <th>企业法人名称</th>
              <th>执行法院</th>
              <th>地域名称</th>
              <th>执行依据文号</th>
              <th>作出依据执行的单位</th>
              <th>法律生效文书确定的义务</th>
              <th>被执行人履行情况</th>
              <th>发布时间</th>
              <th>立案时间</th>
              <th>履行状态</th>
              <th>执行金额</th>
              <th>数据来源</th>
              <th>最新更新日期</th>
            </tr>
            <tr *ngFor="let item of Debtors">
              <td>{{item.caseNo}}</td>
              <td>{{item.executorName}}</td>
              <td>{{item.legalRepresentative}}</td>
              <td>{{item.executionCourt}}</td>
              <td>{{item.region}}</td>
              <td>{{item.executionBasis}}</td>
              <td>{{item.unitOfExecution}}</td>
              <td>{{item.content}}</td>
              <td>{{item.fulfillment}}</td>
              <td>{{item.releaseTime | date: 'yyyy-MM-dd'}}</td>
              <td>{{item.filingTime | date: 'yyyy-MM-dd'}}</td>
              <td>{{item.status}}</td>
              <td>{{item.executionMoney}}</td>
              <td>{{item.dataSource}}</td>
              <td>{{item.newestDate | date: 'yyyy-MM-dd'}}</td>
            </tr>
          </table>
        </perfect-scrollbar>
      </div>-->
      <!--<div id="panjue">
        <div class="panel-item-title">企业经营异常：</div>
        <div id="judicialDecisionEntitiesDiv"></div>
        <perfect-scrollbar style="max-height: 366px" (psYReachEnd)="psYReachEnd('findAbnormalBusinessPage')">
          <table class="table table-bordered" id="judicialDecisionEntities">
            <tr>
              <th>注册号</th>
              <th>法定代表人</th>
              <th>列入企业经营异常的原因</th>
              <th>设立日期</th>
              <th>列入决定机关名称</th>
              <th>最新更新日期</th>
              <th>数据来源</th>
            </tr>
            <tr *ngFor="let item of AbnormalBusiness">
              <td>{{item.regCode}}</td>
              <td>{{item.legalRepresentative}}</td>
              <td>{{item.reason}}</td>
              <td>{{item.establishDate | date: 'yyyy-MM-dd'}}</td>
              <td>{{item.departmentName}}</td>
              <td>{{item.newestDate}}</td>
              <td>{{item.dataSource}}</td>
            </tr>
          </table>
        </perfect-scrollbar>
      </div>-->
      <!--<div id="panjue">
        <div class="panel-item-title">开庭公告：</div>
        <div id="judicialDecisionEntitiesDiv"></div>
        <perfect-scrollbar style="max-height: 366px" (psYReachEnd)="psYReachEnd('findECIProclamationPage')">
          <table class="table table-bordered" id="judicialDecisionEntities">
            <tr>
              <th>案由</th>
              <th>案号</th>
              <th>原告</th>
              <th>被告</th>
              <th>开庭日期</th>
              <th>承办部门</th>
              <th>审判长</th>
              <th>法院</th>
              <th>法庭</th>
              <th>发布日期</th>
              <th>公告类型</th>
              <th>公告内容</th>
              &lt;!&ndash; <th>裁判文书内容</th> &ndash;&gt;
            </tr>
            <tr *ngFor="let item of Proclamations">
              <td>{{item.cause}}</td>
              <td>{{item.number}}</td>
              <td>{{item.appellant}}</td>
              <td>{{item.theAppellant}}</td>
              <td>{{item.courtDate}}</td>
              <td>{{item.underwritingDepartment}}</td>
              <td>{{item.presidingJudge}}</td>
              <td>{{item.court}}</td>
              <td>{{item.curia}}</td>
              <td>{{item.releaseDate}}</td>
              <td>{{item.bulletinType}}</td>
              <td>{{item.bulletinContent}}</td>
              &lt;!&ndash; <td>{{item.refereeDocuments}}</td> &ndash;&gt;
            </tr>
          </table>
        </perfect-scrollbar>
      </div>-->
      <!--<div id="panjue">
        <div class="panel-item-title">裁判文书：</div>
        <perfect-scrollbar style="max-height: 366px" (psYReachEnd)="psYReachEnd('findRefereeDocumentsPage')">
          <table class="table table-bordered" id="judicialDecisionEntities" *ngIf="RefereeDocuments.length>0">
            <tr>
              <th>案由</th>
              <th>案号</th>
              &lt;!&ndash; <th>原告</th>
                <th>被告</th>
                <th>开庭日期</th>
                <th>承办部门</th>
                <th>审判长</th> &ndash;&gt;
              <th>法院</th>
              <th>法庭</th>
              <th>发布日期</th>
              &lt;!&ndash; <th>公告类型</th>
                <th>公告内容</th>
                <th>裁判文书内容</th> &ndash;&gt;
            </tr>
            <tr *ngFor="let item of RefereeDocuments">
              <td>{{item.cause}}</td>
              <td>{{item.number}}</td>
              &lt;!&ndash; <td>{{item.appellant}}</td>
                <td>{{item.theAppellant}}</td>
                <td>{{item.courtDate}}</td>
                <td>{{item.underwritingDepartment}}</td>
                <td>{{item.presidingJudge}}</td> &ndash;&gt;
              <td>{{item.court}}</td>
              <td>{{item.curia}}</td>
              <td>{{item.releaseDate | date: 'yyyy-MM-dd'}}</td>
              &lt;!&ndash; <td>{{item.bulletinType}}</td>
                <td>{{item.bulletinContent}}</td>
                <td>{{item.refereeDocuments}}</td> &ndash;&gt;
            </tr>
          </table>
          <div class="no-data-tips" *ngIf="RefereeDocuments.length<1">
            {{RefereeDocumentsTips}}
          </div>
        </perfect-scrollbar>
      </div>
      <div id="panjue">
        <div class="panel-item-title">法院公告：</div>
        <perfect-scrollbar style="max-height: 366px" (psYReachEnd)="psYReachEnd('findCourtNoticePage')">
          <table class="table table-bordered" id="judicialDecisionEntities" *ngIf="CourtNotice.length>0">
            <tr>
              &lt;!&ndash; <th>案由</th>
                <th>案号</th> &ndash;&gt;
              <th>原告</th>
              <th>被告</th>
              &lt;!&ndash; <th>开庭日期</th>
                <th>承办部门</th>
                <th>审判长</th> &ndash;&gt;
              <th>法院</th>
              &lt;!&ndash; <th>法庭</th> &ndash;&gt;
              <th>发布日期</th>
              <th>公告类型</th>
              <th>公告内容</th>
              &lt;!&ndash; <th>裁判文书内容</th> &ndash;&gt;
            </tr>
            <tr *ngFor="let item of CourtNotice">
              &lt;!&ndash; <td>{{item.cause}}</td>
                <td>{{item.number}}</td> &ndash;&gt;
              <td>{{item.appellant}}</td>
              <td>{{item.theAppellant}}</td>
              &lt;!&ndash; <td>{{item.courtDate}}</td>
                <td>{{item.underwritingDepartment}}</td>
                <td>{{item.presidingJudge}}</td> &ndash;&gt;
              <td>{{item.court}}</td>
              &lt;!&ndash; <td>{{item.curia}}</td> &ndash;&gt;
              <td>{{item.releaseDate | date: 'yyyy-MM-dd'}}</td>
              <td>{{item.bulletinType}}</td>
              <td>{{item.bulletinContent}}</td>
              &lt;!&ndash; <td>{{item.refereeDocuments}}</td> &ndash;&gt;
            </tr>
          </table>
          <div class="no-data-tips" *ngIf="CourtNotice.length<1">
            {{CourtNoticeTips}}
          </div>
        </perfect-scrollbar>
      </div>-->
      <!--<div id="panjue">
        <div class="panel-item-title">税务违法：</div>
        <div id="judicialDecisionEntitiesDiv"></div>
        <perfect-scrollbar style="max-height: 366px" (psYReachEnd)="psYReachEnd('findECITaxIllegalPage')">
          <table class="table table-bordered" id="judicialDecisionEntities">
            <tr>
              <th>纳税人</th>
              <th>税务登记证号</th>
              <th>组织机构代码</th>
              <th>事件日期</th>
              <th>事件名称</th>
              <th>金额</th>
              <th>事件类型</th>
              <th>案件性质</th>
            </tr>
            <tr *ngFor="let item of ECITaxIllegal">
              <td>{{item.taxpayer}}</td>
              <td>{{item.taxationCode}}</td>
              <td>{{item.organizationCode}}</td>
              <td>{{item.eventDate | date: 'yyyy-MM-dd'}}</td>
              <td>{{item.eventName}}</td>
              <td>{{item.money}}</td>
              <td>{{item.eventType}}</td>
              <td>{{item.casenature}}</td>
            </tr>
          </table>
        </perfect-scrollbar>
      </div>-->
    </div>
  </perfect-scrollbar>
</div>