<!-- 企业资质信息 -->
<div class="panel-content-box">
  <perfect-scrollbar>
    <div class="panel-content">
      <div class="panel-item-title">企业资质认证：</div>
      <div  *ngIf="Certifications.length>0">
        <table class="table table-bordered text-c" *ngFor="let item of Certifications">
          <tr>
            <th>资质(格)名称</th>
            <th>许可/发证日期</th>
            <th>许可/发证机关</th>
          </tr>
          <tr>
            <td class="nowrap">{{item.certificateName}}</td>
            <td class="nowrap">{{item.permitDate | date:'yyyy-MM-dd'}}</td>
            <td>{{item.permitOrganization}}</td>
          </tr>
        </table>
        <div class="load-more-info text-c" *ngIf="getCertificationParamas.lastRowKey">
          <div class="load-more-con" (click)="getCertification()"><span class="fa fa-2x fa-angle-double-down"></span>加载更多</div>
        </div>
      </div>
      <div class="no-data-tips no-data-tips-full" *ngIf="Certifications.length<1">
        <span class="tips-bg"></span>
        {{CertificationTips}}
      </div>
    </div>
  </perfect-scrollbar>
</div>
