<!-- <div class="con-hd">
  <button appAccessControl [accessData]="'manager-import-consumption'" class="btn" [routerLink]="['../UploadFile']" [queryParams]="{url:'/manager/v1/EnergyConsumption/importExcel'}" >EXCEL导入</button>
  <button appAccessControl [accessData]="'manager-export-consumption'" class="btn">
  <a class="btn" target="_blank" href="/manager/v1/EnergyConsumption/exportExcelFormMK?enterpriseName={{getListParams.enterpriseName}}&year={{getListParams.year}}" download="{{getListParams.enterpriseName+'-'+getListParams.year+'-'+'综合能耗.xlsx'}}">导出</a>
  </button>
  <button appAccessControl [accessData]="'manager-download-moveout'" class="btn">
  <a class="btn" target="_blank" href="{{formExcelTemplateData}}" download="综合能耗模板.xlsx">EXCEL模板下载</a>
  </button>
  

  <button class="excel-export">EXCEL模板下载</button>
</div> -->
<div class="filter">
  <form class="form-inline">
    <div class="form-group">
      <label>公司名称:</label>
      <input type="text" class="form-control" name="ldapName" [(ngModel)]="getListParams.enterpriseName" placeholder="公司名称">
    </div>
    <div class="form-group">
      <label>年度:</label>
      <input type="text" class="form-control" name="year" [(ngModel)]="getListParams.year" placeholder="年度">
    </div>
    <div class="form-group">
      <button class="btn search-btn" (click)="search()">搜索</button>
      <button class="btn" (click)="resetSearch()">重置</button>
    </div>
    <div class="form-group fr">
        <button appAccessControl [accessData]="'manager-import-consumption'" class="btn" [routerLink]="['../UploadFile']" [queryParams]="{url:'/manager/v1/EnergyConsumption/importExcel'}" >EXCEL导入</button>
        <!-- <button class="btn"> -->
        <a class="btn" appAccessControl [accessData]="'manager-export-consumption'" target="_blank" href="/manager/v1/EnergyConsumption/exportExcelFormMK?enterpriseName={{getListParams.enterpriseName}}&year={{getListParams.year}}" download="{{getListParams.enterpriseName+'-'+getListParams.year+'-'+'综合能耗.xlsx'}}">导出</a>
        <!-- </button> -->
        <!-- <buttonclass="btn"> -->
        <a class="btn" appAccessControl [accessData]="'manager-download-moveout'"  target="_blank" href="{{formExcelTemplateData}}" download="综合能耗模板.xlsx">EXCEL模板下载</a>
        <!-- </button> -->
    </div>
  </form>
</div>
<table class="table table-bordered table-hover table-s table-overflow-x">
  <thead>
  <tr class="text-c">
    <th>企业名称</th>
    <th>年份</th>
    <th>综合能耗（吨标准煤）</th>
  </tr>
  </thead>
  <tbody>
  <tr class="text-c ng-scope" *ngFor="let item of list">
    <td class="nowrap">{{item.company?.name}}</td>
    <td class="nowrap">{{item.year}}</td>
    <td class="nowrap">{{item.consumption}}</td>
  </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-xs-12 col-12">
    <pager [totalItems]="pageParams.bigTotalItems"
           [(ngModel)]="pageParams.bigCurrentPage"
           (pageChanged)="pageChanged($event)"
           pageBtnClass="pager-btn"
           [itemsPerPage]="pageParams.itemsPerPage"
           class="pull-left" previousText="上一页" nextText="下一页">
    </pager>
  </div>
</div>