<perfect-scrollbar>
<div class="panel-content">
  <div>
    <div class="panel-item-title">
      <span>项目申报：</span>
      <!--<div class="button-box">
        <span class="fa fa-chevron-circle-left" (click)="contractPre()" [ngClass]="{'is-first': CONTRACTS_PAGE == 1}" style="margin-right: 20px;"></span>
        <span class="fa fa-chevron-circle-right" (click)="contractNext()"></span>
      </div>-->
    </div>
    <perfect-scrollbar data-scroll="X">
      <div class="project-report" [@side]="side" *ngIf="projectInfo.length>0">
        <div class="flex-cell" *ngFor="let item of projectInfo">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">{{item.enterpriseName}}</div>
            <ul>
              <li class="title">项目名称</li>
              <li>{{item.projectName}}</li>
              <li class="title">完成及验收时间</li>
              <li>{{item.plannedCompletionAndAcceptanceTime | date: 'yyyy-MM-dd'}}</li>
              <li class="title">目前进度</li>
              <li>{{item.theCurrentProgress}}</li>
            </ul>
          </div>
        </div>

        <!--<div class="flex-cell">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">申报名称</div>
            <ul>
              <li class="title">协议名称</li>
              <li>XXXX协议</li>
              <li class="title">签订时间</li>
              <li>2017-08-07</li>
              <li class="title">签订情况</li>
              <li>完成</li>
            </ul>
          </div>
        </div>
        <div class="flex-cell">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">申报名称</div>
            <ul>
              <li class="title">协议名称</li>
              <li>XXXX协议</li>
              <li class="title">签订时间</li>
              <li>2017-08-07</li>
              <li class="title">签订情况</li>
              <li>完成</li>
            </ul>
          </div>
        </div>
        <div class="flex-cell">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">申报名称</div>
            <ul>
              <li class="title">协议名称</li>
              <li>XXXX协议</li>
              <li class="title">签订时间</li>
              <li>2017-08-07</li>
              <li class="title">签订情况</li>
              <li>完成</li>
            </ul>
          </div>
        </div>
        <div class="flex-cell">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">申报名称</div>
            <ul>
              <li class="title">协议名称</li>
              <li>XXXX协议</li>
              <li class="title">签订时间</li>
              <li>2017-08-07</li>
              <li class="title">签订情况</li>
              <li>完成</li>
            </ul>
          </div>
        </div>-->
      </div>
      <div class="no-data-tips" *ngIf="projectInfo.length<1">
        {{projectInfoTips}}
      </div>
    </perfect-scrollbar>
  </div>
  <div>
    <div class="panel-item-title">
      <span>政府支持：</span>
      <!--<div class="button-box">
        <span class="fa fa-chevron-circle-left" (click)="contractPre()" [ngClass]="{'is-first': CONTRACTS_PAGE == 1}" style="margin-right: 20px;"></span>
        <span class="fa fa-chevron-circle-right" (click)="contractNext()"></span>
      </div>-->
    </div>
    <perfect-scrollbar data-scroll="X">
      <div class="project-report" [@side]="side" *ngIf="Contracts.length>0">
        <div class="flex-cell" *ngFor="let item of Contracts">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">{{item.name}}</div>
            <ul>
              <li class="title">协议名称</li>
              <li>{{item.protocol}}</li>
              <li class="title">签订时间</li>
              <li>{{item.signTime | date: 'yyyy-MM-dd'}}</li>
              <li class="title">签订情况</li>
              <li>{{item.signSituation}}</li>
            </ul>
          </div>
        </div>


        <!--<div class="flex-cell">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">补贴</div>
            <ul>
              <li class="title">补贴名称</li>
              <li>XXX补贴</li>
              <li class="title">签订时间</li>
              <li>2018-0606</li>
              <li class="title">签订情况</li>
              <li>完成</li>
            </ul>
          </div>
        </div>
        <div class="flex-cell">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">补贴</div>
            <ul>
              <li class="title">补贴名称</li>
              <li>XXX补贴</li>
              <li class="title">签订时间</li>
              <li>2018-0606</li>
              <li class="title">签订情况</li>
              <li>完成</li>
            </ul>
          </div>
        </div>
        <div class="flex-cell">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">补贴</div>
            <ul>
              <li class="title">补贴名称</li>
              <li>XXX补贴</li>
              <li class="title">签订时间</li>
              <li>2018-0606</li>
              <li class="title">签订情况</li>
              <li>完成</li>
            </ul>
          </div>
        </div>
        <div class="flex-cell">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">补贴</div>
            <ul>
              <li class="title">补贴名称</li>
              <li>XXX补贴</li>
              <li class="title">签订时间</li>
              <li>2018-0606</li>
              <li class="title">签订情况</li>
              <li>完成</li>
            </ul>
          </div>
        </div>-->
      </div>
      <div class="no-data-tips" *ngIf="Contracts.length<1">
        暂无信息！
      </div>
    </perfect-scrollbar>
  </div>
  <div>
    <div class="panel-item-title">
      <span>新闻事件：</span>
      <!--<div class="button-box">
        <span class="fa fa-chevron-circle-left" (click)="newsPre()" [ngClass]="{'is-first': NEWS_PAGE == 1}" style="margin-right: 20px;"></span>
        <span class="fa fa-chevron-circle-right" (click)="newsNext()"></span>
      </div>-->
    </div>
    <perfect-scrollbar data-scroll="X">
      <div class="project-report" *ngIf="newsInfo.length>0">
        <div class="flex-cell" *ngFor="let item of newsInfo">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">{{item.enterpriseName}}</div>
            <ul>
              <li class="title">新闻标题</li>
              <li>{{item.title}}</li>
              <li class="title">时间</li>
              <li>{{item.releaseDate | date: 'yyyy-MM-dd'}}</li>
            </ul>
          </div>
        </div>

        <!--<div class="flex-cell">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">企业名称</div>
            <ul>
              <li class="title">新闻标题</li>
              <li>XXXX事件</li>
              <li class="title">时间</li>
              <li>2018-09-09</li>
            </ul>
          </div>
        </div>
        <div class="flex-cell">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">企业名称</div>
            <ul>
              <li class="title">新闻标题</li>
              <li>XXXX事件</li>
              <li class="title">时间</li>
              <li>2018-09-09</li>
            </ul>
          </div>
        </div>
        <div class="flex-cell">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">企业名称</div>
            <ul>
              <li class="title">新闻标题</li>
              <li>XXXX事件</li>
              <li class="title">时间</li>
              <li>2018-09-09</li>
            </ul>
          </div>
        </div>
        <div class="flex-cell">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">企业名称</div>
            <ul>
              <li class="title">新闻标题</li>
              <li>XXXX事件</li>
              <li class="title">时间</li>
              <li>2018-09-09</li>
            </ul>
          </div>
        </div>-->
      </div>
      <div class="no-data-tips" *ngIf="newsInfo.length<1">
        {{newsInfoTips}}
      </div>
    </perfect-scrollbar>
  </div>
</div>
</perfect-scrollbar>