<!-- <div class="panel-bd pop-index-0 animated active"> -->
<div class="panel-content">
  <div class="panel-item-title">社会保险登记信息：</div>
  <table class="table table-bordered" *ngIf="companyDetail?.unitAddress">
    <tr>
      <td class="nowrap">单位地址:</td>
      <td colspan="3" id="companyAddress">{{companyDetail?.unitAddress}}</td>
    </tr>
    <tr>
      <td class="nowrap">参保险种:</td>
      <td colspan="3">{{companyDetail?.insuredSpecies}}</td>
    </tr>
    <tr>
      <td class="nowrap">单位社保编码:</td>
      <td id="insuranceCode">{{companyDetail?.socialSecurityCode}}</td>
      <td class="nowrap">社保登记日期:</td>
      <td class="nowrap" id="insuranceRecordDate">{{companyDetail?.registrationDate | date:'yyyy-MM-dd'}}</td>
    </tr>
    <tr>
      <td class="nowrap">是否新参保:</td>
      <td id="isNewInsured">{{companyDetail?.whetherNewInsurance}}</td>
      <td class="nowrap">养老保险参保人数:</td>
      <td id="Insuran1">{{companyDetail?.numberElderlyPeople}}</td>
    </tr>
    <tr>
      <td class="nowrap">医疗保险参保人数:</td>
      <td id="Insuran2">{{companyDetail?.medicalPopulation}}</td>
      <td class="nowrap">工商保险参保人数:</td>
      <td id="Insuran3">{{companyDetail?.numberOfInjuries}}</td>
    </tr>
    <tr>
      <td class="nowrap">失业保险参保人数:</td>
      <td id="Insuran4">{{companyDetail?.unemployed}}</td>
      <td class="nowrap">生育保险参保人数:</td>
      <td id="Insuran5">{{companyDetail?.maternityInsurance}}</td>
    </tr>
    <!--<tr>
      <td class="nowrap">公积金缴纳人数:</td>
      <td colspan="3">{{companyDetail?.accumulationFundNum}}</td>
    </tr>-->
    <tr>
      <td class="nowrap">当年应缴保险费:</td>
      <td id="premiumPayable">{{companyDetail?.payableInsurance}}</td>
      <td class="nowrap">当年实缴保险费:</td>
      <td id="premiumPaid">{{companyDetail?.payingPremiums}}</td>
    </tr>
    <tr>
      <td class="nowrap">是否足额缴纳:</td>
      <td id="isFullPayment">{{companyDetail?.isFullPayment}}</td>
      <td class="nowrap">应缴滞纳金:</td>
      <td id="lateFees">{{companyDetail?.demurrageDue}}</td>
    </tr>
    <tr>
      <!--<td class="nowrap">缴费年度:</td>
      <td id="paymentYear">{{companyDetail?.paymentYear}}</td>-->
      <td class="nowrap">参保缴费状态:</td>
      <td id="insuredPaymentStatus">{{companyDetail?.insuredPaymentStatus}}</td>
      <td class="nowrap">数据提供时间:</td>
      <td class="nowrap" id="dataSupplyTime">{{companyDetail?.dataSupplyTime | date:'yyyy-MM-dd'}}</td>
    </tr>
    <tr>
      <td class="nowrap">数据提供单位:</td>
      <td id="dataProvider" colspan="3">{{companyDetail?.dataProvider}}</td>
    </tr>
  </table>
  <div class="no-data-tips" *ngIf="!companyDetail?.unitAddress">
    {{CompanyDetailTips}}
  </div>
</div>
<!-- </div> -->