<div class="panel-content-box">
  <perfect-scrollbar>
    <div class="panel-content">
  <div class="panel-item-title">招聘数据：</div>
  <table class="table table-bordered m-t-20 table-align-c" id="" *ngIf="EIIRecruit.length>0">
    <tr>
      <th>公司名称</th>
      <th>招聘标题</th>
      <th>更新时间</th>
      <th>薪酬福利</th>
      <th>工作经验</th>
      <th>职位</th>
      <th>学历</th>
      <!-- <th>招聘内容</th>
      <th>企业地址</th>
      <th>公司性质</th>
      <th>招聘人数</th> -->
    </tr>
    <tr *ngFor="let item of EIIRecruit">
      <td class="nowrap">{{item.enterpriseName}}</td>
      <td class="nowrap">{{item.title}}</td>
      <td class="nowrap">{{item.updateDate}}</td>
      <td class="nowrap">{{item.salary}}</td>
      <td class="nowrap">{{item.experience}}</td>
      <td class="nowrap">{{item.position}}</td>
      <td class="nowrap">{{item.education}}</td>
      <!-- <td class="nowrap"><div style="display: -webkit-box; width: 100px;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;">{{item.recruitContent}}</div></td>
      <td class="nowrap">{{item.address}}</td>
      <td class="nowrap">{{item.nature}}</td>
      <td class="nowrap">{{item.number}}</td> -->
    </tr>
  </table>
  <div class="no-data-tips no-data-tips-full" *ngIf="EIIRecruit.length<1">
    <span class="tips-bg"></span>
    {{EIIRecruitTips}}
  </div>
</div>
  </perfect-scrollbar>
</div>