<!-- 企业事件预警 -->
<perfect-scrollbar>
  <div class="panel-content">
    <div class="content-row-item">
      <div class="panel-item-title">政府表彰：</div>
      <perfect-scrollbar data-scroll="X">
        <div class="flex" *ngIf="governmentRecognitionList.length>0">
          <div class="flex-cell" *ngFor="let item of governmentRecognitionList">
            <div class="flex-item" style="width: 100%;">
              <div class="flex-head notice-company-name" (click)="viewCompanyData(item.enterpriseName)">
                <span class="name-icon">{{(item.enterpriseName | slice:0:2) == '成都' || (item.enterpriseName | slice:0:2) == '四川' ? (item.enterpriseName | slice:2:4) : (item.enterpriseName | slice:0:2)}}</span>{{item.enterpriseName}}
              </div>
              <ul>
                <li class="title">事件</li>
                <li>{{item.honorName}}</li>
                <li class="title">事件时间</li>
                <li>{{item.evaluationDate | date:'yyyy-MM-dd'}}</li>
              </ul>
            </div>
          </div>
          <!--<div class="flex-cell">
            <div class="flex-item" style="width: 100%;">
              <div class="flex-head notice-company-name">成都亚盛胶业制造有限公司</div>
              <ul>
                <li class="title">事件</li>
                <li>百度搜索排名虚假事件</li>
                <li class="title">事件时间</li>
                <li>2017/11/20</li>
              </ul>
            </div>
          </div>
          <div class="flex-cell">
            <div class="flex-item" style="width: 100%;">
              <div class="flex-head">乐视科技有限责任公司</div>
              <ul>
                <li class="title">事件</li>
                <li>拖欠经销商货款</li>
                <li class="title">事件时间</li>
                <li>2017/11/21</li>
              </ul>
            </div>
          </div>
          <div class="flex-cell">
            <div class="flex-item" style="width: 100%;">
              <div class="flex-head">杭州阿里巴巴有限责任公司</div>
              <ul>
                <li class="title">事件</li>
                <li>阿里巴巴高层辞职事件</li>
                <li class="title">事件事件</li>
                <li>2017/11/22</li>
              </ul>
            </div>
          </div>
          <div class="flex-cell">
            <div class="flex-item" style="width: 100%;">
              <div class="flex-head">杭州阿里巴巴有限责任公司</div>
              <ul>
                <li class="title">事件</li>
                <li>阿里巴巴高层辞职事件</li>
                <li class="title">事件事件</li>
                <li>2017/11/22</li>
              </ul>
            </div>
          </div>
          <div class="flex-cell">
            <div class="flex-item" style="width: 100%;">
              <div class="flex-head">杭州阿里巴巴有限责任公司</div>
              <ul>
                <li class="title">事件</li>
                <li>阿里巴巴高层辞职事件</li>
                <li class="title">事件事件</li>
                <li>2017/11/22</li>
              </ul>
            </div>
          </div>-->
        </div>
        <div class="no-data-tips no-data-tips-small" *ngIf="governmentRecognitionList.length<1">
          <span class="tips-bg"></span>
          {{governmentRecognitionTips}}
        </div>
      </perfect-scrollbar>
    </div>

    <div class="content-row-item">
      <div class="panel-item-title">黑名单：</div>
      <perfect-scrollbar data-scroll="X">
        <div class="flex" *ngIf="blackList.length>0">
        <div class="flex-cell" *ngFor="let item of blackList">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head notice-company-name" (click)="viewCompanyData(item.enterpriseName)">
              <span class="name-icon">{{(item.enterpriseName | slice:0:2) == '成都' || (item.enterpriseName | slice:0:2) == '四川' ? (item.enterpriseName | slice:2:4) : (item.enterpriseName | slice:0:2)}}</span>{{item.enterpriseName}}
            </div>
            <ul>
              <li class="title">事件</li>
              <li>{{item.caseReason}}</li>
              <li class="title">事件时间</li>
              <li>{{item.filingTime | date:'yyyy-MM-dd'}}</li>
            </ul>
          </div>
        </div>
        <!--<div class="flex-cell">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head notice-company-name">成都亚盛胶业制造有限公司</div>
            <ul>
              <li class="title">事件</li>
              <li>百度搜索排名虚假事件</li>
              <li class="title">事件时间</li>
              <li>2017/11/20</li>
            </ul>
          </div>
        </div>
        <div class="flex-cell">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">乐视科技有限责任公司</div>
            <ul>
              <li class="title">事件</li>
              <li>拖欠经销商货款</li>
              <li class="title">事件时间</li>
              <li>2017/11/21</li>
            </ul>
          </div>
        </div>
        <div class="flex-cell">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">杭州阿里巴巴有限责任公司</div>
            <ul>
              <li class="title">事件</li>
              <li>阿里巴巴高层辞职事件</li>
              <li class="title">事件事件</li>
              <li>2017/11/22</li>
            </ul>
          </div>
        </div>
        <div class="flex-cell">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">杭州阿里巴巴有限责任公司</div>
            <ul>
              <li class="title">事件</li>
              <li>阿里巴巴高层辞职事件</li>
              <li class="title">事件事件</li>
              <li>2017/11/22</li>
            </ul>
          </div>
        </div>
        <div class="flex-cell">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">杭州阿里巴巴有限责任公司</div>
            <ul>
              <li class="title">事件</li>
              <li>阿里巴巴高层辞职事件</li>
              <li class="title">事件事件</li>
              <li>2017/11/22</li>
            </ul>
          </div>
        </div>-->
      </div>
      <div class="no-data-tips no-data-tips-small" *ngIf="blackList.length<1">
        <span class="tips-bg"></span>
        {{blackListTips}}
      </div>
      </perfect-scrollbar>
    </div>
    <div class="content-row-item">
      <div class="panel-item-title">履约缴费：</div>
      <perfect-scrollbar data-scroll="X">
        <div class="flex" *ngIf="performancePaymentList.length>0">
        <div class="flex-cell" *ngFor="let item of performancePaymentList">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head notice-company-name" (click)="viewCompanyData(item.enterpriseName)">
              <span class="name-icon">{{(item.enterpriseName | slice:0:2) == '成都' || (item.enterpriseName | slice:0:2) == '四川' ? (item.enterpriseName | slice:2:4) : (item.enterpriseName | slice:0:2)}}</span>{{item.enterpriseName}}
            </div>
            <ul>
              <li class="title">拖欠状态</li>
              <li>{{item.arrears}}</li>
              <li class="title">最近缴存时间</li>
              <li>{{item.lastDepositTime | date:'yyyy-MM-dd'}}</li>
            </ul>
          </div>
        </div>
        <!--<div class="flex-cell">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head notice-company-name">成都亚盛胶业制造有限公司</div>
            <ul>
              <li class="title">事件</li>
              <li>百度搜索排名虚假事件</li>
              <li class="title">事件时间</li>
              <li>2017/11/20</li>
            </ul>
          </div>
        </div>
        <div class="flex-cell">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">乐视科技有限责任公司</div>
            <ul>
              <li class="title">事件</li>
              <li>拖欠经销商货款</li>
              <li class="title">事件时间</li>
              <li>2017/11/21</li>
            </ul>
          </div>
        </div>
        <div class="flex-cell">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">杭州阿里巴巴有限责任公司</div>
            <ul>
              <li class="title">事件</li>
              <li>阿里巴巴高层辞职事件</li>
              <li class="title">事件事件</li>
              <li>2017/11/22</li>
            </ul>
          </div>
        </div>
        <div class="flex-cell">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">杭州阿里巴巴有限责任公司</div>
            <ul>
              <li class="title">事件</li>
              <li>阿里巴巴高层辞职事件</li>
              <li class="title">事件事件</li>
              <li>2017/11/22</li>
            </ul>
          </div>
        </div>
        <div class="flex-cell">
          <div class="flex-item" style="width: 100%;">
            <div class="flex-head">杭州阿里巴巴有限责任公司</div>
            <ul>
              <li class="title">事件</li>
              <li>阿里巴巴高层辞职事件</li>
              <li class="title">事件事件</li>
              <li>2017/11/22</li>
            </ul>
          </div>
        </div>-->
      </div>
      <div class="no-data-tips no-data-tips-small" *ngIf="performancePaymentList.length<1">
        <span class="tips-bg"></span>
        {{performancePaymentTips}}
      </div>
      </perfect-scrollbar>
    </div>
  </div>
</perfect-scrollbar>